# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE ----------------------------------------------------------------- //
# Remote DB
POSTGRES_URL="PUT SOMETHING HERE"

# Local DB
# This is used for Prisma
# POSTGRES_URL="PUT SOMETHING HERE"
# This POSTGRES_* are used for pg connect and the postgres docker container
POSTGRES_DB="PUT SOMETHING HERE"
# POSTGRES_HOST matches the postgres service in docker-compose
POSTGRES_HOST="PUT SOMETHING HERE"
POSTGRES_USER="PUT SOMETHING HERE"
POSTGRES_PASSWORD="PUT SOMETHING HERE"
POSTGRES_PORT="PUT SOMETHING HERE"

# OAUTH ----------------------------------------------------------------- //
# Auth0 OAuth
AUTH0_CLIENT_ID="PUT SOMETHING HERE"
AUTH0_CLIENT_SECRET="PUT SOMETHING HERE"
AUTH0_ISSUER="PUT SOMETHING HERE"

# Github OAuth
GITHUB_ID="PUT SOMETHING HERE"
GITHUB_SECRET="PUT SOMETHING HERE"
NEXTAUTH_URL="PUT SOMETHING HERE"

SECRET="PUT SOMETHING HERE"